.git
.github
node_modules
**/node_modules
**/dist
**/.cache
**/.pnpm-store
**/*.log
**/.env
**/.env.*
!**/.env.example
.agent
.blueprint
.audit
.commandcode
var
**/var
packages/admin
packages/storefront
docs
*.md
!packages/api/**/*.md
